.app{
    text-align: center;
}

  
  
.shape1 {
  color:blueviolet;
text-align: left;
justify-content: left;
width: 150px;
height: 150px;
background-color: #93b7be;
padding:20px;
border: 3px solid blueviolet;
border-radius: 60px;
display: flex;
align-items: center;
justify-content: center;   

}

.shape2 {
color:blueviolet;
width:150px;
height:150px;
background-color: #93b7be;
border: 3px solid blueviolet;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;   
}
.info{
list-style-type: none;
text-decoration: none;
}
  